[submodule "Hazel"]
	path = Hazel
	url = https://github.com/TroyNeubauer/Hazel.git
[submodule "vendor/libusbp"]
	path = vendor/libusbp
	url = https://github.com/TroyNeubauer/libusbp.git
[submodule "vendor/SLI-2020"]
	path = vendor/SLI-2020
	url = https://github.com/TroyNeubauer/SLI-2020.git
